<h1 class="bold">Chi tiết đề thi {{id}}</h1>
<!-- #docregion align-start -->
<h2>Phần I: Kanji & từ vựng</h2>
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Chữ kanji">
        <div class="group-cauhoi" *ngFor="let row of listtcauhoi_phan1_part1">
            <h3>Câu hỏi {{row.id}}</h3>
            <mat-form-field appearance="fill">
                <mat-label>Câu: {{row.id}}</mat-label>
                <textarea matInput>{{row.cauhoi}}</textarea>
            </mat-form-field>
            <br>
            <mat-form-field class="traloi-width" appearance="fill" *ngFor="let tl of row.traloi; let idx = index">
                <mat-label>Câu trả lời {{idx + 1}}</mat-label>
                <input matInput value="{{tl}}">
                <br>
            </mat-form-field>
            <br>
            <mat-form-field class="dapan-width" appearance="fill">
                <mat-label>Đáp án</mat-label>
                <input matInput value="{{row.dapan}}">
            </mat-form-field>

        </div>
    </mat-tab>
    <mat-tab label="Từ vựng 1">
        <div class="group-cauhoi" *ngFor="let row of listtcauhoi_phan1_part2">
            <h3>Câu hỏi {{row.id}}</h3>
            <mat-form-field appearance="fill">
                <mat-label>Câu: {{row.id}}</mat-label>
                <textarea matInput>{{row.cauhoi}}</textarea>
            </mat-form-field>
            <br>
            <mat-form-field class="traloi-width" appearance="fill" *ngFor="let tl of row.traloi; let idx = index">
                <mat-label>Câu trả lời {{idx + 1}}</mat-label>
                <input matInput value="{{tl}}">
            </mat-form-field>
            <br>
            <mat-form-field class="dapan-width" appearance="fill">
                <mat-label>Đáp án</mat-label>
                <input matInput value="{{row.dapan}}">
            </mat-form-field>

        </div>
    </mat-tab>
    <mat-tab label="Từ vựng 2">
        <div class="group-cauhoi" *ngFor="let row of listtcauhoi_phan1_part3">
            <h3>Câu hỏi {{row.id}}</h3>
            <mat-form-field appearance="fill">
                <mat-label>Câu: {{row.id}}</mat-label>
                <textarea matInput>{{row.cauhoi}}</textarea>
            </mat-form-field>
            <br>
            <mat-form-field class="traloi-width" appearance="fill" *ngFor="let tl of row.traloi; let idx = index">
                <mat-label>Câu trả lời {{idx + 1}}</mat-label>
                <input matInput value="{{tl}}">
                <br>
            </mat-form-field>
            <br>
            <mat-form-field class="dapan-width" appearance="fill">
                <mat-label>Đáp án</mat-label>
                <input matInput value="{{row.dapan}}">
            </mat-form-field>

        </div>
    </mat-tab>
</mat-tab-group>
<h2>Phần II: Ngữ pháp & Đọc hiểu</h2>
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Ngữ pháp 1">Content 1</mat-tab>
    <mat-tab label="Ngữ pháp 2">Content 2</mat-tab>
    <mat-tab label="Bài đọc">Content 3</mat-tab>
</mat-tab-group>
<h2>Phần I: Nghe hiểu</h2>
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>

<button mat-raised-button color="primary" class="text-end">SAVE</button>
