<footer class="footer">
    <div class="container">
        <div class="about-us" >
            <h2>Về chúng tôi</h2>
            <p>Cooola Team thành lập tháng 6 năm 2022 với sự tham gia của 3 thành viên,
               Nam Pham, Viết Song, Quang Duy. Lập trình ứng dụng tương thích với mọi thiết bị, 
               dễ thao tác sửa đổi, hỗ trợ cài đặt và tối ưu hóa SEO tốt nhất. 
               Cài đặt nhanh, linh hoạt và full chức năng cần thiết cho 
               website từng lĩnh vực. Chúng tôi tự tin đáp ứng 100% mọi tính
              năng cần thiết.
          </p>
        </div>
        <div class="newsletter" >
            <h2>Đắng Ký Nhận Khuyễn Mãi</h2>
            <p>Để lại email để nhận theme miễn phí</p>
            <div class="form-element">
                <input type="text" placeholder="Email">
                <span><mat-icon style="padding-top: 7px;">keyboard_arrow_right</mat-icon></span>
            </div>
        </div>
        <div class="instagram" >
            <h2>Instagram</h2>
            <div class="flex-row">
                <img src="../../../assets/instagram/thumb-card3.png" alt="insta1">
                <img src="../../../assets/instagram/thumb-card4.png" alt="insta2">
                <img src="../../../assets/instagram/thumb-card5.png" alt="insta3">
            </div>
            <div class="flex-row">
               <img src="../../../assets/instagram/thumb-card6.png" alt="insta4">
               <img src="../../../assets/instagram/thumb-card7.png" alt="insta5">
               <img src="../../../assets/instagram/thumb-card8.png" alt="insta6">
           </div>
        </div>
        <div class="follow" >
            <h2>Follow US !</h2>
            <p>Let us be Social</p>
            <div>
                <mat-icon>facebook</mat-icon>
            </div>
        </div>
    </div>
    <div class="rights flex-row">
         <h4 class="text-gray">
             Copyright @2022 All rights reserved | 
             <a href="https://cooola.net" target="_black">Cooola Team</a>
         </h4>
    </div>
    <div class="move-up">
        <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
    </div>
</footer>
