<mat-form-field class="traloi-width" appearance="fill">
    <mat-label>Câu trả lời 1</mat-label>
    <input matInput value="cau tra loi 1">
    <br>
</mat-form-field>
<br>
<mat-form-field class="traloi-width" appearance="fill">
    <mat-label>Câu trả lời 2</mat-label>
    <input matInput value="cau tra loi 1">
    <br>
</mat-form-field>
<br>
<mat-form-field class="traloi-width" appearance="fill">
    <mat-label>Câu trả lời 3</mat-label>
    <input matInput value="cau tra loi 1">
    <br>
</mat-form-field>
<br>
<mat-form-field class="traloi-width" appearance="fill">
    <mat-label>Câu trả lời 4</mat-label>
    <input matInput value="cau tra loi 1">
    <br>
</mat-form-field>
<br>
<mat-form-field class="dapan-width" appearance="fill">
    <mat-label>Đáp án</mat-label>
    <input matInput value="1">
</mat-form-field>